/*================ Website Settings ================*/
@import "base/fonts";
@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/helpers";
@import "base/grid";
@import "base/typography";

/*================ Website Components ================*/
@import "components/btn";
@import "components/headings";
@import "components/icons";
@import "components/images";
@import "components/modal";
@import "components/hamburger-menu";
@import "components/testimonial-item";
@import "components/page-title";
@import "components/accordion";
@import "components/form";
@import "components/box";

/*================ Website sections ================*/
@import "sections/top-bar";
@import "sections/header";
@import "sections/hero";
@import "sections/inner-hero";
@import "sections/icon-box";
@import "sections/subpages-list";
@import "sections/prod-grid";
@import "sections/footer";

/*================ Website Pages ================*/
@import "pages/all-pages";
@import "pages/home";
@import "pages/our-sol";
@import "pages/careers";
@import "pages/contact";
@import "pages/list-features";
@import "pages/get-started";
@import "pages/login-new";
@import "pages/prod-category";
@import "pages/partner-program";

// coming soon page
#brand {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;

    img {
        margin: 0 auto;
        display: block;
    }

    p {
        color: #999;
    }
}
