.btn {
    @include bg-grad;
    @include br;
    @include d(ib);
    color: #fff;
    padding: 10px 25px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    font-family: $font-heading;
    box-shadow: none;
    will-change: box-shadow;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 1px 5px 1px #999999;
    }

    &--outline-dark {
        border: 2px solid #000;
        background: #fff;
        color: $text;
        padding: 6px 15px;
        font-size: 15px;
        transition: background 0.3s ease-in-out;
        will-change: background, color;

        &:hover {
            box-shadow: none;
            background: #000;
            color: #fff;
        }
    }
}
