// ********************************************
// Font face: Omnes
// Provided by: Cristina
// Source: Some Chinese website 1243680629953_zcool.com.cn
// ********************************************
@font-face {
    font-family: 'Omnes';
    src: url('../fonts/Omnes_ATTW02.eot');
    src: url('../fonts/Omnes_ATTW02.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Omnes_ATTW02.woff') format('woff'),
         url('../fonts/Omnes_ATTW02.ttf') format('truetype'),
         url('../fonts/Omnes_ATTW02.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes';
    src: url('fonts/Omnes_ATTW02-Medium.eot');
    src: url('fonts/Omnes_ATTW02-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Omnes_ATTW02-Medium.woff') format('woff'),
         url('fonts/Omnes_ATTW02-Medium.ttf') format('truetype'),
         url('fonts/Omnes_ATTW02-Medium.svg#oswaldbook') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Omnes';
    src: url('fonts/Omnes_ATTW02-Bold.eot');
    src: url('fonts/Omnes_ATTW02-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Omnes_ATTW02-Bold.woff') format('woff'),
         url('fonts/Omnes_ATTW02-Bold.ttf') format('truetype'),
         url('fonts/Omnes_ATTW02-Bold.svg#oswaldbook') format('svg');
    font-weight: 700;
    font-style: normal;
}

/** Montserrat Alternates Regular **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/MontserratAlternates-Regular.eot");
    src: url("../fonts/MontserratAlternates-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/MontserratAlternates-Regular.woff2") format("woff2"),
        url("../fonts/MontserratAlternates-Regular.woff") format("woff");
}

/** Montserrat Alternates Regular-Italic **/
// @font-face {
//     font-family: "Montserrat Alternates";
//     font-weight: 400;
//     font-style: italic;
//     src: url("../fonts/MontserratAlternates-Italic.eot");
//     src: url("../fonts/MontserratAlternates-Italic.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-Italic.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-Italic.woff") format("woff");
// }

/** Montserrat Alternates Medium **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/MontserratAlternates-Medium.eot");
    src: url("../fonts/MontserratAlternates-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/MontserratAlternates-Medium.woff2") format("woff2"),
        url("../fonts/MontserratAlternates-Medium.woff") format("woff");
}

/** Montserrat Alternates Medium-Italic **/
// @font-face {
//     font-family: "Montserrat Alternates";
//     font-weight: 500;
//     font-style: italic;
//     src: url("../fonts/MontserratAlternates-MediumItalic.eot");
//     src: url("../fonts/MontserratAlternates-MediumItalic.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-MediumItalic.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-MediumItalic.woff") format("woff");
// }

/** Montserrat Alternates SemiBold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/MontserratAlternates-SemiBold.eot");
    src: url("../fonts/MontserratAlternates-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/MontserratAlternates-SemiBold.woff2") format("woff2"),
        url("../fonts/MontserratAlternates-SemiBold.woff") format("woff");
}

/** Montserrat Alternates SemiBold-Italic **/
// @font-face {
//     font-family: "Montserrat Alternates";
//     font-weight: 600;
//     font-style: italic;
//     src: url("../fonts/MontserratAlternates-SemiBoldItalic.eot");
//     src: url("../fonts/MontserratAlternates-SemiBoldItalic.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-SemiBoldItalic.woff") format("woff");
// }

/** Montserrat Alternates Bold **/
@font-face {
    font-family: "Montserrat Alternates";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/MontserratAlternates-Bold.eot");
    src: url("../fonts/MontserratAlternates-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/MontserratAlternates-Bold.woff2") format("woff2"),
        url("../fonts/MontserratAlternates-Bold.woff") format("woff");
}

/** Montserrat Alternates Bold-Italic **/
// @font-face {
//     font-family: "Montserrat Alternates";
//     font-weight: 700;
//     font-style: italic;
//     src: url("../fonts/MontserratAlternates-BoldItalic.eot");
//     src: url("../fonts/MontserratAlternates-BoldItalic.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-BoldItalic.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-BoldItalic.woff") format("woff");
// }

/** Montserrat Alternates ExtraBold **/
// @font-face {
//     font-family: "Montserrat Alternates";
//     font-weight: 800;
//     font-style: normal;
//     src: url("../fonts/MontserratAlternates-ExtraBold.eot");
//     src: url("../fonts/MontserratAlternates-ExtraBold.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-ExtraBold.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-ExtraBold.woff") format("woff");
// }

/** Montserrat Alternates ExtraBold-Italic **/
// @font-face {
//     font-family: "Montserrat Alternates";
//     font-weight: 800;
//     font-style: italic;
//     src: url("../fonts/MontserratAlternates-ExtraBoldItalic.eot");
//     src: url("../fonts/MontserratAlternates-ExtraBoldItalic.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
// }

/** Montserrat Alternates Black **/
// @font-face {
//     font-family: "Montserrat Alternates";
//     font-weight: 900;
//     font-style: normal;
//     src: url("../fonts/MontserratAlternates-Black.eot");
//     src: url("../fonts/MontserratAlternates-Black.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-Black.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-Black.woff") format("woff");
// }

/** Montserrat Alternates Black-Italic **/
// @font-face {
//     font-family: "Montserrat";
//     font-weight: 900;
//     font-style: italic;
//     src: url("../fonts/MontserratAlternates-BlackItalic.eot");
//     src: url("../fonts/MontserratAlternates-BlackItalic.eot?#iefix")
//             format("embedded-opentype"),
//         url("../fonts/MontserratAlternates-BlackItalic.woff2") format("woff2"),
//         url("../fonts/MontserratAlternates-BlackItalic.woff") format("woff");
// }
