// utility
.light {
    color: #fff;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.hidden-sm {
    display: none;
}

// margins
.mlra {
    margin-left: auto;
    margin-right: auto;
}

.mla {
    margin-left: auto;
}

.mra {
    margin-right: auto;
}
