$primary: #cb2d2c;
$secondary: #fbb615;
$text: #1a2731;
$link: $primary;
$orange: #e97514;

// colors
$dark: #1a2731;

// fonts
$font-family: "Omnes", sans-serif;
$font-heading: "Montserrat Alternates", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;
