$primary: #cb2d2c;
$secondary: #fbb615;
$text: #1a2731;
$link: $primary;
$orange: #e97514;

// colors
$dark: #1a2731;

// fonts
$font-family: "omnes", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-heading: "Montserrat Alternates", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;
