$primary: #444;
$secondary: #444;
$text: #444;
$lignt-1: #444;
$link: $primary;

// colors
$dark-grey: #333447;
$dark-gray: #333447; // for the Americans

// fonts
$font-family: "Lato", Helvetica, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;
