#list-features-header {
    @include bg-grad;
    color: #fff;
    text-align: center;
    padding: 60px 0px 90px 0px;
    position: relative;
    overflow: hidden;

    .bg-overlay.dots-left {
        background-position: -60% 50%;
    }

    .row {
        @include jc(c);
    }

    .title--sec {
        margin-bottom: 20px;
    }
}